.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.about__text-slider .slick-slider .slick-list .slick-track .slick-slide {
  display: flex;
  justify-content: unset !important;
}
